.featured {
    .card {
        width: (57300% / 1170);
    }

    .card__info {
        @include flex;
        font: {
            size: 1.6rem;
            family: $secondary-font;
        }
    }

    .card__info-left, .card__info-right {
        @include flex;
        img {
            display: inline;
            margin-right: .5rem;
        }
    }

    .card__info-left {
        margin-right: 2.5rem;
    }
}