.header {
    background: linear-gradient(rgba(0,0,0,0.6)),url("../images/top-bg.jpg");
    @include background();
    &__top{
        @include flex();
        .nav {
            &__list {
                @include flex();
            }
            &__item {
                &:last-child {
                    @include border(1px,solid,white);
                    margin-left: 2rem;
                    border-radius: 3px;
                }
            }
            &__link {
                color: $white;
                font-weight: bold;
                padding: 1rem 2rem;
            }
        }
    }
    &__bottom {
        text-align: center;
        margin-top: 22rem;
        .header__heading {
            font: {
                weight: bold;
                size: 7.2rem;
            }
            letter-spacing: 0.5rem;
            margin-bottom: 3rem;
        }
        .header__desc {
            font: {
                size: 3rem;
                family: $secondary-font;
            }
            margin-bottom: 9rem;
        }
        .header__form {
            max-width: 77.5rem;
            margin: 0 auto;
            @include flex();
        }
        .form__input {
            width: 57.5rem;
            &::placeholder {
                font-family: inherit;
                color: $light-gray-text;
            }
            border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem;
            @include same-height-vertical-form();
        }
        .form__submit {
            width: 20rem;
            font-weight: bold;
            color: $white;
            background-color: $primary-color;
            img {
                display: inline;
                margin-right: 1rem;
            }
            border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem;
            @include flex(row,center,center);
            @include same-height-vertical-form();
        }
    }
    position: relative;
    padding: 3.5rem 0 35rem;
    text-transform: uppercase;
    color: $white;
}

