.hire-boat {
    padding: 18.5rem 0 8rem;
    background: linear-gradient(rgba(0,0,0,0.6)),url("../images/bottom-bg.jpg");
    @include background;
    text: {
        align: center;
        transform: uppercase;
    }
    color: $white;
    &__title {
        font: {
            size: 7.2rem;
            weight: bold;
        }
        @include rps(toRem(900px)){
            font-size: 6rem;
        }
        @include rps(toRem(768px)){
            font-size: 5rem;
        }
        @include rps(toRem(480px)){
            font-size: 4rem;
        }
    }

    &__desc {
        font: {
            size: 3rem;
            family: $secondary-font;
        }
        margin-top: 2.5rem;
        @include rps(toRem(900px)){
            font-size: 2.5rem;
        }
        @include rps(toRem(768px)){
            font-size: 2rem;
        }
        @include rps(toRem(480px)){
            font-size: 1.6rem;
        }
    }

    &__content > button {
        @include rps(toRem(480px)){
            padding: 2rem;
        }
    }
}