.numbers {
    @include flex();
    position: relative;
    background-color: $white;
    border-radius: .5rem;
    padding: 3rem 0;
    margin-top: -7rem;
    box-shadow: 0 0 3rem 0rem $shadow;
    &__item {
        font-family: $secondary-font;
        text-align: center;
        flex: 1;
        span {
            color: $gray-text;
            font: {
                weight:bold;
                size: 3rem;
            }
            display: block;
            margin-bottom: 1.5rem;
        }
        p {
            color: $light-gray-text;
            text-transform: capitalize;
            font-size: 1.8rem;
        }
        &:not(:last-child){
            border-right: 1px solid $light-gray-text;
        }
    }
}