.numbers {
    @include flex;
    flex-wrap: wrap;
    position: relative;
    background-color: $white;
    border-radius: .5rem;
    padding: 3rem 0;
    margin-top: -7rem;
    box-shadow: 0 0 3rem 0rem $shadow;

    &__item {
        flex: 0 0;
        font-family: $secondary-font;
        text-align: center;
        flex-basis: 25%;
        span {
            color: $gray-text;
            font: {
                weight:bold;
                size: 3rem;
            }
            display: block;
            margin-bottom: 1.5rem;
        }
        p {
            color: $light-gray-text;
            text-transform: capitalize;
            font-size: 1.8rem;
        }
        &:not(:last-child){
            border-right: 1px solid $light-gray-text;
            @include rps(toRem(768px)){
                border-right: 0;
            }
        }
        &:nth-child(n + 3){
            @include rps(toRem(768px)){
                padding-top: 3rem;
            }
        }
        &:nth-child(2n + 1){
            @include rps(toRem(768px)){
                border-right: 1px solid $light-gray-text;
            }
        }
        @include rps(toRem(768px)){
            flex-basis: 50%;
        }
    }
}