*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $primary-font;
}

img {
    display: block;
    max-width: 100%;
}

a {
    display: block;
    text-decoration: none;
}

.wrapper, 
.container--big, 
.container--small {
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    max-width: $wrapper;
    overflow: hidden;
}

.container--big, .container--small {
    max-width: $big-container;
    padding-left:1.5rem;
    padding-right:1.5rem;
}

.container--small {
    max-width: $small-container;
}

