*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $primary-font;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

a {
    display: block;
    text-decoration: none;
}

.wrapper, 
.container--big, 
.container--small {
    margin: 0 auto;
}

.wrapper {
    max-width: $wrapper;
    overflow: hidden;
}

.container--big, .container--small {
    max-width: $big-container;
    padding: 0 1.5rem;
}

.container--small {
    max-width: $small-container;
}

