$primary-color:#e7434e;
$secondary-color:#404040;
$white:#ffffff;
$black: black;

$wrapper: 200rem;
$big-container: 150rem;
$small-container: 120rem;

$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$gray-text:#343435;
$light-gray-text:#717171;

