$primary-color:#e7434e;
$secondary-color:#404040;
$white:#ffffff;
$black: black;
$navy: #041155;
$shadow: rgba(53,53,53,0.15);

$wrapper: 200rem;
$big-container: 150rem;
$small-container: 120rem;

$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$gray-text:#343434;
$light-gray-text:#717171;

