/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

.wrapper,
.container--big,
.container--small {
  margin: 0 auto;
}

.wrapper {
  max-width: 200rem;
  overflow: hidden;
}

.container--big, .container--small {
  max-width: 150rem;
  padding: 0 1.5rem;
}

.container--small {
  max-width: 120rem;
}

.section {
  margin-top: 10rem;
  position: relative;
  text-align: center;
}

.section__heading {
  font-size: 3rem;
  text-transform: uppercase;
  color: #343434;
}

.section__desc {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  margin-top: 3rem;
  color: #717171;
}

.section__content {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

.card {
  position: relative;
  width: 31.62393%;
  margin-top: 3rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card__img {
  width: 100%;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.card__content {
  padding: 3rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e7434e;
  border-radius: 0.5rem;
  padding: 1rem;
}

.card__top span {
  font-weight: bold;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  margin-left: 1rem;
}

.card__bottom {
  color: #ffffff;
}

.card__title {
  font-size: 3rem;
}

.card__info {
  font-size: 2rem;
  margin-top: 1rem;
}

.card--big {
  width: 65.81197%;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background: linear-gradient(180deg, transparent, black);
  opacity: 0.6;
  z-index: 1;
}

.card:hover .card__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn {
  padding: 2rem 4rem;
  margin: 10rem 0 8rem;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: inherit;
  border-radius: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.btn--white {
  border: 1px solid #717171;
  background-color: #ffffff;
  color: #343434;
}

.btn--white:hover {
  background-color: #717171;
  color: #ffffff;
}

.btn--red {
  border: none;
  background-color: #e7434e;
  color: #ffffff;
}

.btn--red:hover {
  background-color: #ffffff;
  color: #e7434e;
}

.form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__input, .form__submit {
  border: 0;
  font-family: inherit;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.form__input {
  border-radius: 0.5rem 0 0 0.5rem;
}

.form__input::-webkit-input-placeholder {
  font-family: inherit;
  color: #717171;
}

.form__input:-ms-input-placeholder {
  font-family: inherit;
  color: #717171;
}

.form__input::-ms-input-placeholder {
  font-family: inherit;
  color: #717171;
}

.form__input::placeholder {
  font-family: inherit;
  color: #717171;
}

.form__submit {
  font-weight: bold;
  color: #ffffff;
  background-color: #e7434e;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
}

.form__submit img {
  display: inline;
  margin-right: 1rem;
}

@media screen and (max-width: 48rem) {
  .form__submit img {
    display: none;
  }
}

.menu__button {
  position: relative;
  width: 4rem;
  height: 3rem;
  cursor: pointer;
  display: none;
}

.menu__button span {
  display: block;
  position: absolute;
  right: 0;
  width: 100%;
  height: 20%;
  background-color: #e7434e;
  border-radius: 0.5rem;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu__button span:nth-child(1) {
  top: 0%;
}

.menu__button span:nth-child(2) {
  top: 40%;
}

.menu__button span:nth-child(3) {
  top: 80%;
}

@media screen and (max-width: 48rem) {
  .menu__button {
    display: block;
  }
}

.menu__button.open span:nth-child(1) {
  top: 40%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu__button.open span:nth-child(2) {
  opacity: 0;
  right: -20rem;
}

.menu__button.open span:nth-child(3) {
  top: 40%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url("../images/top-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6)), url("../images/top-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 3.5rem 0 35rem;
  text-transform: uppercase;
  color: #ffffff;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 48rem) {
  .header__top .nav__list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 70vw;
    left: -70vw;
    right: unset;
    background-color: #e7434e;
    z-index: 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
}

.header__top .nav__item:last-child {
  border: 1px solid #ffffff;
  margin-left: 2rem;
  border-radius: 3px;
}

@media screen and (max-width: 48rem) {
  .header__top .nav__item:last-child {
    margin-left: 0;
    border: 0;
  }
}

@media screen and (max-width: 48rem) {
  .header__top .nav__item {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
    opacity: 0;
  }
}

.header__top .nav__link {
  color: #ffffff;
  padding: 1rem 2rem;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  font-weight: bold;
  font-size: 1.6rem;
}

@media screen and (max-width: 48rem) {
  .header__top .nav__link {
    font-size: 2rem;
  }
}

@media screen and (max-width: 36.25rem) {
  .header__top .nav__link {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 48rem) {
  .header__top .nav.open .nav__list {
    left: 0;
  }
  .header__top .nav.open .nav__item:nth-child(1) {
    -webkit-transition: all 0.5s 0.3s;
    transition: all 0.5s 0.3s;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  .header__top .nav.open .nav__item:nth-child(2) {
    -webkit-transition: all 0.5s 0.4s;
    transition: all 0.5s 0.4s;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  .header__top .nav.open .nav__item:nth-child(3) {
    -webkit-transition: all 0.5s 0.5s;
    transition: all 0.5s 0.5s;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.header__bottom {
  text-align: center;
  margin-top: 22rem;
}

.header__bottom .header__heading {
  font-weight: bold;
  font-size: 7.2rem;
  letter-spacing: 0.5rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 60.5rem) {
  .header__bottom .header__heading {
    font-size: 6.41026vw;
    letter-spacing: 0.42735vw;
  }
}

@media screen and (max-width: 36.25rem) {
  .header__bottom .header__heading {
    font-size: 6.83761vw;
    letter-spacing: 0.59829vw;
  }
}

.header__bottom .header__desc {
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 9rem;
}

@media screen and (max-width: 60.5rem) {
  .header__bottom .header__desc {
    font-size: 2.99145vw;
  }
}

@media screen and (max-width: 36.25rem) {
  .header__bottom .header__desc {
    font-size: 4.2735vw;
  }
}

.header__form {
  max-width: 77.5rem;
}

.header__form .form__input {
  width: calc(5750% / 77.5);
  padding: 2rem 2.5rem;
}

@media screen and (max-width: 36.25rem) {
  .header__form .form__input {
    width: 80%;
    padding: 1rem;
    font-size: 1.2rem;
  }
}

.header__form .form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(2000% / 77.5);
  padding: 2rem 2.5rem;
}

@media screen and (max-width: 36.25rem) {
  .header__form .form__submit {
    width: 20%;
    padding: 1rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 36.25rem) {
  .header__form .form__submit span {
    display: none;
  }
}

.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  background-color: #ffffff;
  border-radius: .5rem;
  padding: 3rem 0;
  margin-top: -7rem;
  -webkit-box-shadow: 0 0 3rem 0rem rgba(53, 53, 53, 0.15);
          box-shadow: 0 0 3rem 0rem rgba(53, 53, 53, 0.15);
}

.numbers__item {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.numbers__item span {
  color: #343434;
  font-weight: bold;
  font-size: 3rem;
  display: block;
  margin-bottom: 1.5rem;
}

.numbers__item p {
  color: #717171;
  text-transform: capitalize;
  font-size: 1.8rem;
}

.numbers__item:not(:last-child) {
  border-right: 1px solid #717171;
}

.featured .card {
  width: 48.97436%;
}

.featured .card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

.featured .card__info-left, .featured .card__info-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured .card__info-left img, .featured .card__info-right img {
  display: inline;
  margin-right: .5rem;
}

.featured .card__info-left {
  margin-right: 2.5rem;
}

.hire-boat {
  padding: 18.5rem 0 8rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url("../images/bottom-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6)), url("../images/bottom-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.hire-boat__title {
  font-size: 7.2rem;
  font-weight: bold;
}

.hire-boat__desc {
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  margin-top: 2.5rem;
}

.footer {
  background: #404040 repeating-linear-gradient(135deg, #e7434e 0, #e7434e 1.5rem, #041155 1.5rem, #041155 2rem) no-repeat;
  background-size: 100% 0.6rem;
  padding: 6rem 0 7rem;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  font-size: 1.4rem;
}

.footer__content:first-child {
  width: 25%;
}

.footer__content:last-child, .footer__content:nth-child(2) {
  width: 16.66667%;
}

.footer__content:nth-child(3) {
  width: 41.66667%;
}

.footer__heading {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list-item {
  padding-top: 2rem;
}

.footer__list-item a {
  color: #ffffff;
  position: relative;
}

.footer__list-item a:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: -4px;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__list-item a:hover:after {
  opacity: 1;
  width: 100%;
}

.footer__form .btn {
  padding: 1rem 3rem;
  font-weight: normal;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 3.5rem;
}

.footer__social li:not(:last-child) {
  margin-right: 1.8rem;
}

.footer__social a {
  background-color: #717171;
  color: #ffffff;
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  line-height: 4.5rem;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__social a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  color: #e7434e;
  background-color: white;
}

.footer__form {
  max-width: 42rem;
  margin: 2rem 0 0 0;
}

.footer__form .form__input {
  width: calc(2700% / 42);
  padding: 1.5rem 2rem;
  text-transform: none;
}

.footer__form .form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(1500% / 42);
  padding: 1.5rem 2rem;
}
/*# sourceMappingURL=main.css.map */